---
layout: default
---

<!-- ============================================================= SECTION – BLOG POST ============================================================= -->

<section id="blog-post" class="light-bg">
  <div class="container inner-top-sm inner-bottom classic-blog">
    <div class="row">

      <div class="col-md-9 inner-right-sm">
        <div class="sidemeta">

          <!-- =================================================== BLOG POST SNIPPET ============================================================= -->

          {% for post in site.posts offset: 0 limit: 10 %}

          <div class="post">

            <div class="date-wrapper">
              <div class="date">
                <span class="day">{{ post.date | date: '%d' }}</span>
                <span class="month">{{ post.date | date: '%B' | truncate: 4, '.'  }}</span>
              </div><!-- /.date -->
            </div><!-- /.date-wrapper -->

            <div class="post-content">

              <h2 class="post-title">
                <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
              </h2>

              <ul class="meta">
                <li class="categories">Posted in {{ post.categories | join: ', ' }}</li>
              </ul><!-- /.meta -->

              {{ post.excerpt }}

              <a href="{{ site.prefix }}{{ post.url }}" class="btn">Read more</a>

            </div><!-- /.post-content -->

          </div><!-- /.post -->

          <hr />

          {% endfor %}

          <!-- =================================================== BLOG POST STYLE EXAMPLES ============================================================= -->


          <div class="post format-video">

            <div class="date-wrapper">
              <div class="date">
                <span class="day">12</span>
                <span class="month">July</span>
              </div><!-- /.date -->
            </div><!-- /.date-wrapper -->

            <div class="format-wrapper">
              <a href="#" data-filter=".format-video"><i class="icon-video-1"></i></a>
            </div><!-- /.format-wrapper -->

            <div class="post-content">

              <div class="video-container post-media">
                <iframe src="http://player.vimeo.com/video/65468064?title=0&amp;byline=0&amp;color=1abb9c" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div><!-- /.post-media -->

              <div class="series">Smart Brokerage Series #2</div>

              <h2 class="post-title">
                <a href="blog-post.html">Creating Quick Followups</a>
              </h2>

              <ul class="meta">
                <li class="categories">Posted in <a href="#">Smart Brokerage Series</a></li>
              </ul><!-- /.meta -->

              <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu oreprerum.</p>

              <a href="blog-post.html" class="btn">Read more</a>

            </div><!-- /.post-content -->

          </div><!-- /.post -->

          <!-- =================================================== BLOG POST SNIPPET ============================================================= -->

          <div class="post format-gallery">

            <div class="date-wrapper">
              <div class="date">
                <span class="day">5</span>
                <span class="month">July</span>
              </div><!-- /.date -->
            </div><!-- /.date-wrapper -->

            <div class="post-content">

              <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">

                <div class="item">
                  <figure>
                    <img src="assets/images/art/work06-lg.jpg" alt="">
                  </figure>
                </div><!-- /.item -->

                <div class="item">
                  <figure>
                    <img src="assets/images/art/work02-lg.jpg" alt="">
                  </figure>
                </div><!-- /.item -->

                <div class="item">
                  <figure>
                    <img src="assets/images/art/work08a-lg.jpg" alt="">
                  </figure>
                </div><!-- /.item -->

                <div class="item">
                  <figure>
                    <img src="assets/images/art/work09-lg.jpg" alt="">
                  </figure>
                </div><!-- /.item -->

                <div class="item">
                  <figure>
                    <img src="assets/images/art/work16-lg.jpg" alt="">
                  </figure>
                </div><!-- /.item -->

              </div><!-- /.owl-carousel -->

              <h1 class="post-title">Advisors Conference 2016</h1>

              <ul class="meta">
                <li class="categories">Posted by <a href="#" title="Post author" data-rel="tooltip" data-placement="left">Kyle Ginavan</a> in <a href="#">Events</a>, <a href="#">News</a></li>
              </ul><!-- /.meta -->

              <p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>

              <a href="#" class="btn btn-medium">Read more</a>

            </div><!-- /.post-content -->
          </div><!-- /.post -->

          <!-- =================================================== BLOG POST SNIPPET ============================================================= -->

          <div class="post format-standard">

            <div class="date-wrapper">
              <div class="date">
                <span class="day">23</span>
                <span class="month">May</span>
              </div><!-- /.date -->
            </div><!-- /.date-wrapper -->

            <div class="post-content">

              <h1 class="post-title">July Newsletter</h1>

              <ul class="meta">
                <li class="categories">Posted on July 1, 2016 in <a href="#">Newsletters</a></li>
              </ul><!-- /.meta -->

              <p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>

              <a href="#" class="btn btn-medium">View Newsletter</a>

            </div><!-- /.post-content -->
          </div><!-- /.post -->

          <!-- =================================================== BLOG POST SNIPPET : END ============================================================= -->

        </div>
      </div><!-- /.col -->

      {% include sidebar.html %}

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->
