<!-- ============================================================= FOOTER ============================================================= -->

<footer class="dark-bg">
  <div class="container inner">
    <div class="row">

      <div class="col-md-4 col-sm-6 inner">
        <h4>Onboarding</h4>
        <p>Our onboarding process will be unlike your previous experiences. The technology we built to move your data is equally awesome and our conversion experts will treat your data like it is our own.</p>
        <a href="{{ base }}/onboarding" class="txt-btn">See how</a>
      </div><!-- /.col -->

      <!-- <div class="col-md-3 col-sm-6 inner">
        <h4>Why Switch</h4>

        <div class="row thumbs gap-xs">

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post"><img src="assets/images/art/work02.jpg" alt=""></a>
            </figure>
          </div>

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post"><img src="assets/images/art/work03.jpg" alt=""></a>
            </figure>
          </div>

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post"><img src="assets/images/art/work07.jpg" alt=""></a>
            </figure>
          </div>

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post"><img src="assets/images/art/work01.jpg" alt=""></a>
            </figure>
          </div>

        </div>
      </div> -->

      <div class="col-md-4 col-sm-6 inner">
        <h4>Our Guarantee</h4>
        <p>We are so confident our technology will help increase sales and improve service that we guarantee your satisfaction. Otherwise, you can easily roll back to your old technology.</p>
        <i><i class="icon-ok"></i> Guaranteed</i>
      </div><!-- /.col -->

      <div class="col-md-4 col-sm-6 inner">
        <h4>Subscribe to updates</h4>
        <p>Sign up for news and updates on how <em>HQ</em> technology is changing the way Brokerages do business.</p>
        <form id="newsletter" class="form-inline newsletter" role="form">
          <label class="sr-only" for="exampleInputEmail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email">
          <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
        </form>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- .container -->

  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© <script type="text/javascript">document.write(new Date().getFullYear());</script> <em>HQ</em> • All rights reserved</p>
      <ul class="footer-menu pull-right">
        <li><a href="{{ base }}/about-us">About</a></li>
        <li><a href="{{ base }}/careers">Careers</a></li>
        <li><a href="{{ base }}/learn-more">Learn More</a></li>
        <!-- <li><a href="{{ base }}/support">Support</a></li> -->
        <li><a href="{{ base }}/pricing">Pricing</a></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>

<!-- ============================================================= FOOTER : END ============================================================= -->
