<header>
  <div class="navbar">

    <div class="navbar-header">
      <div class="container">

        <ul class="social pull-right">
          <li><a href="https://twitter.com/agencieshq"><i class="icon-s-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/AgenciesHQ"><i class="icon-s-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/company/onehq"><i class="icon-s-linkedin"></i></a></li>
          <li><a href="https://twitter.com/agencieshq"><i class="icon-s-vimeo"></i></a></li>
        </ul>

        <ul class="info pull-right">
          <li><i class="icon-mobile contact"></i> (913) 232-2375</li>
          <li><a href="mailto:sales@onehq.com"><i class="icon-mail-1 contact"></i> sales@onehq.com</a></li>
          <li><a href="https://agencieshq.com/users/sign_in">Login</a></li>
        </ul>

        <!-- ============================================================= LOGO MOBILE ============================================================= -->

        <a class="navbar-brand" href="/"><img src="{{ base }}/assets/images/art/logo.png" class="logo" alt=""></a>

        <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class="icon-menu-1"></i></a>

      </div><!-- /.container -->
    </div><!-- /.navbar-header -->

    <div class="yamm">
      <div class="navbar-collapse collapse">
        <div class="container">

          <!-- ============================================================= LOGO ============================================================= -->

          <a class="navbar-brand" href="/"><img src="{{ base }}/assets/images/art/logo.png" class="logo" alt=""></a>

          <!-- ============================================================= LOGO : END ============================================================= -->


          <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

          <ul class="nav navbar-nav">

            <li class="dropdown"><a href="{{ base }}/sales" class="">Sales</a></li>
            <li class="dropdown"><a href="{{ base }}/operations" class="">Operations</a></li>
            <li class="dropdown"><a href="{{ base }}/management" class="">Management</a></li>
            <li class="dropdown"><a href="{{ base }}/advisors" class="">Advisors</a></li>
            <li class="dropdown"><a href="{{ base }}/learn-more" class="nav-btn">Learn More</a></li>

            <a class="xtra btn xtra-btn" href="https://agencieshq.com/users/sign_in">Login</a>

          </ul> <!-- /nav -->

          <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->


        </div><!-- /.container -->

        <div class="xtra">
          <ul class="xtra-info">
            <li><a class="xtra-info--call" href="">(913) 232-2375</a></li>
            <li><a class="xtra-info--email" href="mailto:sales@onehq.com"><i class="icon-mail-1 contact"></i></a></li>
            <li><a class="xtra-info--twitter" href="https://twitter.com/agencieshq"><i class="icon-s-twitter"></i></a></li>
            <li><a class="xtra-info--facebook" href="https://www.facebook.com/AgenciesHQ"><i class="icon-s-facebook"></i></a></li>
            <li><a class="xtra-info--linkedin" href="https://www.linkedin.com/company/onehq"><i class="icon-s-linkedin"></i></a></li>
            <li><a class="xtra-info--vimeo" href="https://twitter.com/agencieshq"><i class="icon-s-vimeo"></i></a></li>
          </ul>
        </div>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->

  </div><!-- /.navbar -->
</header>
