<head>
  {{% include base.html %}}
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="author" content="">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
  <meta property="og:image" content="http://onehq.com/assets/images/font-type/onehq-com-dark.png" />
  <meta property="og:og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="http://onehq.com/assets/images/font-type/onehq-com-dark.png">

  <!-- Bootstrap Core CSS -->
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css?1" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="{{ site.baseurl }}/assets/images/art/favicon.ico?1" type="image/x-icon" />
  <link rel="image_src" href="{{ site.baseurl }}/assets/images/art/logo.png" />

  <!-- Customizable CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
  <link href="{{ site.baseurl }}/assets/css/blue.css" rel="stylesheet" title="Color">
  <link href="{{ site.baseurl }}/assets/css/owl.carousel.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/owl.transitions.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/animate.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
  <script src="https://use.typekit.net/xrf8hky.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Icons/Glyphs -->
  <link href="{{ site.baseurl }}/assets/fonts/fontello.css" rel="stylesheet">

  <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
  <![endif]-->

</head>
